.picture {
  /* width: 250px; */
  width: 15rem;
  height: auto;
  border: 1px solid rgb(45, 136, 56);
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
  aspect-ratio: 1;
}

.picture-container {
  background-color: rgb(234, 245, 235);
  border-radius: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 60%;
  height: auto;
  margin: auto;
  gap: .5rem;
}

body {
  background-color: rgb(45, 136, 56);
  font-family: Lora;
  color: white;
  display: flex;
  text-align: center;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 1rem;
  overflow-x: hidden;
}

.fade-in-text {
font-family: Lora;
font-size: 3rem;
padding-top: .1rem;
}

.fade-in-text:hover {
animation: fadeIn 5s;
-webkit-animation: fadeIn 5s;
-moz-animation: fadeIn 5s;
-o-animation: fadeIn 5s;
-ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

.page-container {
  width: 100%;
  margin-top: 5rem;
  margin: auto;
}

.imageBox {
position: relative;
float: left;
}

.imageBox .hoverImg {
position: absolute;
left: 0;
top: 0;
display: none;
}

.imageBox:hover .hoverImg {
display: block;
}

.caption {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 20px;
  display: block;
  color: black;
}

nav {
  display: flex;
  justify-content: space-around;
  font-family: "Lora";
  background-color: rgb(19, 93, 39);
  color: white;
  padding: 0.5rem;
}

@media (min-width: 600px) {
  nav {
    /* writing-mode: vertical-lr; */
    height: 1rem;
    width: 100%;
    align-items: center;
  }

  #page-content {
    padding: 4rem;
  }

  #nav-container {
    width: 100%;
  }
}

@media (max-height: 100%) {
  nav {
    height: 100%;
  }

  /* #page-content {
    padding: 4rem 1rem;
  } */

  #nav-container {
    height: 100%;
  }
}

/* Styling navbar links */

/* Normal link, not visited */
a:link {
  color: #83e183;
  text-decoration: none;
}

/* Visited link */
a:visited {
  color: #83e183;
}

/* Hovering over the link */
a:hover {
  color: #dcffdc;
}

/* Selected link */
a:active {
  color: #83e183;
}