.picture {
  width: 300px;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 1;
}

.physical-container {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  gap: 12px;
}

body {
  background-color: rgb(45, 136, 56);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

backb {
  color: rgb(60, 75, 142);
}

.imageBox:hover .hoverImg {
    display: block;
}

.imageBox {
  position: relative;
  float: left;
}

.imageBox .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.imageBox:hover .hoverImg {
  display: block;
}