body {
  /* border: 1px solid rgb(45, 136, 56); */
  height: 100%;
  margin-top: 1%;
}

h1 {
  font-family:'Go Frog', Lora;
  font-size: 3rem;
  padding-top: 0%;
}

h2 {
  font-family:'Go Frog';
  font-size: 2rem;
  margin-top: 2%;
  margin-bottom: 2%;
}

.picture {
  width: 250px;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
  aspect-ratio: 1;
}

.caption {
  padding-top: 5px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 15px;
  display: block;
  color: black;
  text-align: center;
  font-family: 'Quicksand';
  font-weight: bold;
  font-size: large;
}

.replacements {
  margin: auto;
}

.add-replacement-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 2%;
  height: 10%;
}

.options-container {
  padding-bottom: 2%;
  width: 50%;
  margin: auto;
  text-align: center;
  border: 10px solid rgb(45, 136, 56);
  border-radius: 15px;
  
}

.options-container input {
  width: 5rem;
}

.start,
.dest {
  font-family: monospace;
  font-size: 1.5rem;
}

.join {
  font-style: italic;
}

.rule {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.remove {
  font-style: italic;
}

.remove:hover {
  color: red;
  cursor: pointer;
  text-decoration: underline;
}

button {
  border-radius: 10px;
  width: 15%;
  height: 20pt;
  margin: 3pt;
  font-family: 'Quicksand';
  font-weight: bold;
}

input {
  height: 17pt;
}